.global-footer {
  background-color: #222;
  min-height: 50px;
  padding: 20px;
  color: white;
  .tag {
    fill: white;
  }

  .letter {
    fill: white;
  }
  div[style] {
    align-items: center;
    flex-direction: row-reverse;
    p {
      margin: 0;
      margin-right: 1em;
    }
  }
}
