@import "styles/vars";

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn-primary {
  background-color: $linkColor;
  border-color: darken($linkColor, 10%);
  color: white;
  &:hover {
    background-color: darken($linkColor, 10%);
    border-color: darken($linkColor, 20%);

  }
}

h2 {
  a {
    color: $linkColor;
  }
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

a.active {
  font-weight: bold;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  flex: 1;
  @media screen and (max-width: $break-large) {
    padding: 0 1em;
  }
}

.photo {
  max-width: 400px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}

.photo img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}

.page-layout {
  display: flex;
  @media screen and (max-width: $break-medium) {
    flex-direction: column;
  }
  margin-bottom: 5em;
  &.no-flex {
    display: block;
  }
  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

.page-content {
  flex: 1;
  ul, ol {
    padding-left: 20px;
  }
}

.page-layout {
  h1 {
    font-weight: 100;
    margin-top: 0;
    color: $linkColor;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
  }
  pre {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    font-size: 1.2em;
    background: #23241f;
    color: #f8f8f2;
  }
  table {
    border: 1px solid #ddd;
    background-color: rgba(221,221,221,.2);
    border-collapse: collapse;
    width: 100%;
    th, td {
      border: 1px solid gray;
      padding: .5em;
      text-align: left;
      &:first-child {
        width: 30%;
      }
      &:last-child {
        width: 70%;
      }
    }
    th {
      background-color: #222;
      color: white;
    }
  }
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  border-radius: .25rem;
  color: $linkColor;
  background-color: lighten($linkColor, 50%);
  font-family: monospace;
}
