$linkColor: #61DAFB;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.global-nav {

}

.global-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.global-nav a {
  display: block;
  padding: .5em 1em;
  color: $linkColor;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-content {
  width: 1000px;
  margin: 0 auto;
  flex: 1;
}

.global-footer {
    background-color: #222;
    min-height: 150px;
    padding: 20px;
    color: white;
}

.photo {
  max-width: 400px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}

.photo img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}

.page-layout {
  display: flex;
  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

.page-nav {
  flex: 0 0 200px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    a {
      color: $linkColor;
      display: block;
      padding: .5em 0;
    }
  }
}
